//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        word_delete {
            bindings = <&kp LC(DELETE)>;
            key-positions = <8 9>;
            timeout-ms = <0>;
            layers = <0>;
        };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp G &kp I &kp F>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃   BSPC    ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
       &kp Q  &kp W           &kp E               &kp R             &kp T      &kp Y      &kp U             &kp I               &kp O           &kp P
       &kp A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &kp G      &kp H      &mt LEFT_SHIFT J  &mt LEFT_CONTROL K  &mt LEFT_ALT L  &kp SEMICOLON
&none  &kp Z  &kp X           &kp C               &kp V             &kp B      &kp N      &kp M             &kp COMMA           &kp DOT         &kp FSLH       &none
                              &lt 5 ESCAPE        &lt 1 SPACE       &kp TAB    &lt 4 RET  &lt 2 BACKSPACE   &lt 3 DELETE
            >;
        };

        Nav {
            bindings = <
        &trans    &trans    &trans     &trans     &trans    &kp K_REDO  &kp K_PASTE     &kp K_COPY   &kp K_CUT      &kp K_UNDO
        &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp CLCK    &kp LEFT_ARROW  &kp DOWN     &kp UP_ARROW   &kp RIGHT
&trans  &trans    &trans    &trans     &trans     &trans    &kp INS     &kp HOME        &kp PAGE_UP  &kp PAGE_DOWN  &kp END     &trans
                            &trans     &trans     &trans    &kp ENTER   &kp BACKSPACE   &kp DEL
            >;
        };

        number {
            bindings = <
     &kp LEFT_BRACKET  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp RIGHT_BRACKET    &kp  &kp        &kp        &kp       &kp
     &kp SEMICOLON     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp EQUAL            &kp  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&kp  &kp TILDE         &kp N7        &kp N8        &kp N9        &kp BACKSLASH        &kp  &kp        &kp        &kp       &kp       &kp
                                     &kp DOT       &kp N0        &kp MINUS            &kp  &kp        &kp
            >;
        };

        func {
            bindings = <
        &kp F10  &kp F7  &kp F8  &kp F9     &kp PRINTSCREEN    &trans  &trans     &trans     &trans    &trans
        &kp F11  &kp F4  &kp F5  &kp F6     &kp SCROLLLOCK     &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&trans  &kp F12  &kp F1  &kp F2  &kp F3     &kp PAUSE_BREAK    &trans  &trans     &trans     &trans    &trans    &trans
                         &trans  &kp SPACE  &kp TAB            &trans  &trans     &trans
            >;
        };

        symbol {
            bindings = <
     &kp LEFT_BRACE  &kp EXCL       &kp AT                &kp HASH               &kp RIGHT_BRACE    &kp  &kp        &kp        &kp       &kp
     &kp COLON       &kp DOLLAR     &kp PERCENT           &kp CARET              &kp PLUS           &kp  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
&kp  &kp TILDE       &kp AMPERSAND  &kp ASTERISK          &kp LEFT_PARENTHESIS   &kp PIPE           &kp  &kp        &kp        &kp       &kp       &kp
                                    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDER          &kp  &kp        &kp
            >;
        };

        media {
            bindings = <
        &trans    &trans    &trans     &trans     &trans    &bt BT_CLR_ALL  &trans            &trans             &trans           &trans
        &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &trans          &kp K_NEXT        &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp K_FORWARD
&trans  &trans    &trans    &trans     &trans     &trans    &bt BT_CLR      &bt BT_SEL 0      &bt BT_SEL 1       &bt BT_SEL 2     &bt BT_SEL 3   &bt BT_SEL 4
                            &trans     &trans     &trans    &kp K_STOP      &kp K_PLAY_PAUSE  &kp K_MUTE
            >;
        };
    };
};
